<div id="nav" class="social container-fluid row">
  <app-social></app-social>
  <div class="row justify-content-center mb-3">
    <span class="logo text-center">
      <img src="../../../assets/img/sw_logo_stacked.png">
    </span>
  </div>
  <div class="container-fluid p-0 position-sticky row" id="nav-client">
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid"> 
        <div class="collapse navbar-collapse col-12" id="navbar-client">
          <ul class="navbar-nav mx-2 p-0 mb-2 mb-md-0 me-auto">
            <li class="nav-item my-1 my-md-0">
              <a class="nav-link" role="button" routerLink="/home">HOME</a>
            </li>
            <li class="nav-item mb-1 mb-md-0">
              <a class="nav-link" role="button" routerLink="/starships">STARSHIPS</a>
            </li>
          </ul>
          <div class="d-flex">
            <button type="submit" class="btn btn-erp-blue me-3">
              <a routerLink="/login" class="log-link">
                LOGIN
                <i class="fas fa-sign-in-alt"></i>
              </a>
            </button>
            <button type="submit" class="btn btn-erp-blue me-3">
              <a routerLink="/register" class="log-link">
                SIGN-UP
                <i class="fas fa-user-plus"></i>
              </a>
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>