<ul id="social-links" class="m-3">
    <li>
      <a id="facebook" href="https://www.facebook.com/StarWars" target="_blank" rel="noopener noreferrer" data-cto="social" title="facebook" class="icon-link">
        <span class="icon"></span>
      </a>
    </li>
    <li>
      <a id="instagram" href="https://www.instagram.com/starwars/" target="_blank" rel="noopener noreferrer" data-cto="social" title="instagram">
        <span class="icon"></span>
      </a>
    </li>
    <li>
      <a id="twitter" href="https://twitter.com/starwars" target="_blank" rel="noopener noreferrer" data-cto="social" title="twitter">
        <span class="icon"></span>
      </a>
    </li>
    <li>
      <a id="youtube" href="https://www.youtube.com/user/starwars" target="_blank" rel="noopener noreferrer" data-cto="social" title="youtube">
        <span class="icon"></span>
      </a>
    </li>
</ul>