HERE!!!
<div>
    <h2>{{this.name | uppercase}} Details</h2>
    <div><span>name: </span>{{this.name}}</div>
    <div><span>model: </span>{{this.model}}</div>
    <div><span>MGLT: </span>{{this.MGLT}}</div>
    <div><span>cargo_capacity: </span>{{this.cargo_capacity}}</div>
    <div><span>consumables: </span>{{this.consumables}}</div>
    <div><span>cost_in_credits: </span>{{this.cost_in_credits}}</div>
    <div><span>created: </span>{{this.created}}</div>
    <div><span>crew: </span>{{this.crew}}</div>
    <div><span>edited: </span>{{this.edited}}</div>
  </div>
