<div class="container">
    <h4 class="text-center py-5">Starships List</h4>
    <!-- Search -->
    <div class="row mb-5">
      <div class="col-sm-12 d-inline-flex justify-content-end ">
        <div class="col-sm-3 me-4">
          <input class="form-control me-4 rounded-pill" type="search"
            placeholder="Search..." aria-label="Search">
        </div>
      </div>
    </div>
  
    <!-- Starship data -->
    <div class="table-responsive mb-5">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">Starship Name</th>
            <th scope="col">Model</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let starship of starships, let i = index" 
          [class.selected]='starship === selectedStarship'>
            <td (click)='goStarshipDeatail(i)' >{{ starship.name }}</td>
            <td>{{ starship.model }}</td>
            
            <!--<app-starship-detail [starship]='selectedStarship'></app-starship-detail>-->

            
            <!-- Modal -->
            <div class="modal fade modalMessage" id="starshipDetail" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">
                      {{ this.name | uppercase }} DETAILS
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)='closeModal()'></button>
                  </div>
                  <div class="modal-body">
                    <div>
                      <div><span>name: </span>{{this.name}}</div>
                      <div><span>model: </span>{{this.model}}</div>
                      <div><span>MGLT: </span>{{this.MGLT}}</div>
                      <div><span>cargo_capacity: </span>{{this.cargo_capacity}}</div>
                      <div><span>consumables: </span>{{this.consumables}}</div>
                      <div><span>cost_in_credits: </span>{{this.cost_in_credits}}</div>
                      <div><span>created: </span>{{this.created}}</div>
                      <div><span>crew: </span>{{this.crew}}</div>
                      <div><span>edited: </span>{{this.edited}}</div>
                      <div><span>length: </span>{{this.length}}</div>
                      <div><span>manufacturer: </span>{{this.manufacturer}}</div>
                      <div><span>max_atmosphering_speed: </span>{{this.max_atmosphering_speed}}</div>
                      <div><span>passengers: </span>{{this.passengers}}</div>
                      <div><span>starship_class: </span>{{this.starship_class}}</div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>